# Local Netlify folder
.netlify

# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.local
.env.*

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
